---
import { Icon } from 'astro-icon/components'
import { parse } from 'url'
import dotenv from 'dotenv';

dotenv.config();

const { plus = "pt-6", icon = "mingcute:information-fill", url, title = "Titre", description = "Je crois que je suis une description, à vérifier.", grid = "col-span-2 row-span-2", button = "#"} = Astro.props;

// Extract the domain name from the provided URL
const domain = url ? parse(url).hostname : '';

// Define a custom class based on the domain name
let customClass = '';
let cardDescription = description;

if (domain === 'github.com') {
  customClass = 'bg-slate-300 border-slate-200 dark:bg-slate-800 dark:border-slate-900';
} else if (domain === 'youtube.com') {
  customClass = 'bg-red-300 border-red-200 dark:bg-red-900 dark:border-red-950';
} else if (domain === 'discord.com') {
  customClass = 'bg-indigo-300 border-indigo-200 dark:bg-indigo-900 dark:border-indigo-950';
} else if (domain === 'soundcloud.com') {
  customClass = 'bg-orange-300 border-orange-200 dark:bg-orange-900 dark:border-orange-950';
} else if (domain === 'twitch.tv') {
  customClass = 'bg-violet-300 border-violet-200 dark:bg-violet-900 dark:border-violet-950';
} else if (domain === 'instagram.com') {
  customClass = 'bg-gradient-to-tr from-yellow-200 via-red-300 to-purple-200 border-red-100 dark:border-red-900 dark:from-yellow-700 dark:via-red-800 dark:to-purple-800';
} else {
  customClass = 'bg-base-200 border-base-300';
}

---

<div class:list={['card border-2 shadow-xl', customClass, grid]}>
  <div class:list={['card-body pl-6 pr-0', plus]}>
    <h2 class="flex card-title text-lg lg:text-xl">
      {icon.includes('/') && <img src={icon} class="h-7 w-auto" alt={title}/>}
      {!icon.includes('/') && <Icon name={icon} />}
      <span>{title}</span>
    </h2>
    <p class="text-sm pr-4">{description}</p>
    {!button.includes('#') && <div class="card-actions justify-end pr-4">
      <a href={ url } target="_blank" class="btn btn-primary p-2 lg:btn-sm">{ button }</a>
    </div>}
  </div>
</div>