---
import { Icon } from "astro-icon/components";

const { title, description, button_text = "#", button_url = "#", base, justify, icon = "mingcute:information-fill" } = Astro.props;
---

<div class:list={['card bg-base-300 shadow-xl', base]}>
  <div class="card-body">
    <div class:list={['flex w-full', justify]}>
      {
        icon.includes("/") && (
          <img
            src={icon}
            class="h-14 w-auto rounded-lg -translate-y-1"
            alt={title}
          />
        )
      }
      {!icon.includes("/") && <Icon name={icon} class="text-5xl" />}
        <h1 class="text-4xl lg:text-5xl font-bold pl-2">{title}</h1>
    </div>
    <p class={ justify } set:html={description} />
    {
      !button_text.includes("#") && (
        <a class="btn btn-primary" href={button_url}>
          {button_text}
        </a>
      )
    }
    <slot />
  </div>
</div>