---
import { Icon } from "astro-icon/components";
const {
  title,
  description,
  date,
  type = "middle",
  icon = "mingcute:information-fill",
  image = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfnLwJroRGie1szvna_PyYWDhJ39iZnDjTig&usqp=CAU",
} = Astro.props;
---

<li>
  {!type.includes("start") && <hr />}
  <div class="timeline-start text-xl">{date}</div>
  <div class="timeline-middle">
    <Icon name={icon} class="text-2xl" />
  </div>
  <div class="px-2 timeline-end timeline-box flex bg-base-300 my-4">
    <img src={image} class="w-24 h-24 rounded-lg" />
    <div class="pl-4 w-96">
      <h1 class="text-xl font-bold">{title}</h1>
      <p>{description}</p>
    </div>
  </div>
  {!type.includes("end") && <hr />}
</li>
