---
import { Icon } from "astro-icon/components";

const {
  title,
  alt,
  image_text = "En savoir plus",
  image_url = "#",
  button_text = "#",
  button_url = "#",
  icon = "mingcute:information-fill",
  icon_class,
} = Astro.props;
---

<div class="min-h-96 flex flex-col-reverse lg:flex-row-reverse py-2 lg:py-6 ml-4">
  <div class="lg:w-1/2 flex justify-center max-h-96">
    <img
      src={image_url}
      class:list={['flex w-auto min-h-96 rounded-lg justify-center', icon_class]}
      alt={image_text}
    />
  </div>
  <div class="lg:w-1/2">
    <div class="flex w-full">
      {
        icon.includes("/") && (
          <img
            src={icon}
            class="h-16 w-auto bg-primary p-1 rounded-lg"
            alt={title}
          />
        )
      }
      {!icon.includes("/") && <Icon name={icon} class="text-6xl" />}
      <div class="pl-3">
        <h1 class="text-3xl lg:text-4xl font-bold">{title}</h1>
        <h3 class="magic">{alt}</h3>
      </div>
    </div>
    <p class="py-6 text-lg">
      <slot/>
    </p>
    {
      !button_text.includes("#") && (
        <a class="btn btn-primary" href={button_url}>
          {button_text}
        </a>
      )
    }
  </div>
</div>
