---
import { Icon } from "astro-icon/components";
import QLink from "./QLink.astro";

const {
  title,
  alt,
  image_text = "En savoir plus",
  image_url = "#",
  button_text = "#",
  button_url = "#",
  icon = "mingcute:information-fill",
} = Astro.props;
---

<div
  class="min-h-96 flex flex-col-reverse lg:flex-row-reverse py-2 ml-4 lg:py-6">
  <div
    class="py-4 lg:w-1/2 grid grid-cols-2 lg:grid-cols-3 gap-y-8 gap-x-4 lg:gap-x-4 lg:gap-y-2 items-center align-center"
    style="grid-auto-rows: 13%;">
    <h1 class="col-span-3 font-bold text-center text-lg gap-y-0">Frameworks</h1>
    <QLink icon="simple-icons:astro" title="Astro" />
    <QLink icon="simple-icons:laravel" title="Laravel" />
    <QLink icon="simple-icons:flask" title="Flask" />
    <h1 class="col-span-3 font-bold text-center text-lg gap-y-0">Languages</h1>
    <QLink icon="simple-icons:html5" title="HTML" />
    <QLink icon="simple-icons:python" title="Python" />
    <QLink title="Javascript" icon="simple-icons:javascript" />
    <h1 class="col-span-3 font-bold text-center text-lg gap-y-0">Outils</h1>
    <QLink icon="simple-icons:cloudflare" title=" Cloudfare" />
    <QLink icon="simple-icons:github" title="GitHub" />
    <QLink icon="simple-icons:tailwindcss" title="TailwindCSS" />
  </div>
  <div class="lg:w-1/2">
    <div class="flex w-full">
      {
        icon.includes("/") && (
          <img
            src={icon}
            class="h-16 w-auto bg-primary p-1 rounded-lg"
            alt={title}
          />
        )
      }
      {!icon.includes("/") && <Icon name={icon} class="text-6xl" />}
      <div class="pl-3">
        <h1 class="text-3xl lg:text-4xl font-bold">{title}</h1>
        <h3 class="magic">{alt}</h3>
      </div>
    </div>
    <p class="py-6 text-lg">
      <slot />
    </p>
    {
      !button_text.includes("#") && (
        <a class="btn btn-primary" href={button_url}>
          {button_text}
        </a>
      )
    }
  </div>
</div>
