---
import { Icon } from "astro-icon/components";
const {
  titre,
  description,
  icon,
  icon_bg,
  data,
} = Astro.props;
---
<li class="list-row list-col-grow">
    <div class:list={["flex justify-center items-center rounded-xl px-1.5", icon_bg]}>
      <Icon name={icon} class="text-4xl" />
    </div>
    <div>
      <div class="text-lg font-semibold">{titre}</div>
      <div>
        <slot />
      </div>
    </div>
    <a class="max-md:hidden btn btn-square btn-ghost" href=`https://sketchfab.com/models/${data}` target="_blank">
      <Icon name="tabler:external-link" class="size-[1.6em]"/>
    </a>
    <button class="btn btn-square btn-primary core" data-link=`https://sketchfab.com/models/${data}` data-titre={titre} data-description={description} data-core=`https://sketchfab.com/models/${data}/embed?autostart=1&transparent=1`>
      <Icon name="tabler:zoom-scan" class="size-[1.6em]"/>
    </button>
  </li>
