---
import Layout from "../../layouts/main.astro";
import Card from "../../components/ProjectCard.astro";

const posts = await Astro.glob("./*.mdx");

const getPostUrl = (post) => {
  if (post.frontmatter.slug.includes('http://') || post.frontmatter.slug.includes('https://')) {
    return post.frontmatter.slug;
  } else {
    return post.url;
  }
};
---

<Layout title="Archive DreamCloud">
  <div style="background-image: url(/img/banner.png);">
    <div
      class="flex container-fluid items-center justify-center backdrop-blur-sm pt-40 pb-4">
      <img
        src="/img/archive_title.png"
        class="hover:scale-110 transition duration-500 cursor-pointer h-16 md:h-24 w-auto"
      />
    </div>
    <div
      class="flex container-fluid items-center justify-center backdrop-blur-sm text-2xl mx-2 md:mx-0 text-center">
      <p>Découvrez les projets d'hier qui nous inspire encore aujourd'hui</p>
    </div>
    <div
      class="backdrop-blur-sm py-20"
      style="background-image: linear-gradient(rgba(0, 0, 0, 0), hsl(var(--b2)))">
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 m-2 lg:m-4 gap-2 lg:gap-4">
    {
      posts
        .slice(0, 4)
        .map((post) => (
          <Card
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            button_url={getPostUrl(post)}
            button_text={post.frontmatter.title}
            icon={post.frontmatter.icon}
            >
          </Card>
        ))
    }
  </div>
</Layout>
